@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap");
@import 'tailwindcss';

@theme {
  --font-noto-serif-tc: "Noto Serif TC", serif; 

  --color-primary: var(--theme-primary-color, #ffd34f);
  --color-background: #09050f;

  --color-neutral-0: #ffffff; 
  --color-neutral-10: #fbfbfb;
  --color-neutral-20: #f2f2f2;
  --color-neutral-30: #e0e0e0;
  --color-neutral-40: #bdbdbd;
  --color-neutral-50: #858d9f;
  --color-neutral-60: #4f4f4f;
  --color-neutral-70: #333333;
  --color-neutral-80: #131311;

  --leading-tight: 1.15;

  --animate-rotate-360: rotate-360 100s linear infinite;

  @keyframes rotate-360 {
    0% {
      transform: translate(-50%, -50%) rotate(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

@layer base {
  /* :root {
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
  } */
  
  html,
  body {
    background-color: #09050f;
  }

  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
    display: none;
  }
}

@layer components {
  .header {
    @apply leading-tight text-neutral-0;
  }

  .header-1 {
    @apply text-[36px] md:text-[56px] tracking-[0.5px] font-bold;
  }

  .header-2 {
    @apply text-[26px] md:text-[32px] tracking-[0.4px] font-bold;
  }

  .header-3 {
    @apply text-[24px] md:text-[28px] tracking-[0.3px] font-medium;
  }

  .header-4 {
    @apply text-[20px] md:text-[24px] tracking-[0.3px] font-normal;
  }

  .header-5 {
    @apply text-[16px] md:text-[20px] tracking-[0.3px] font-light;
  }

  .paragraph {
    @apply leading-tight text-neutral-0 font-light;
  }

  .paragraph-1 {
    @apply text-[16px] tracking-[0.3px];
  }

  .paragraph-2 {
    @apply text-[14px] tracking-[0.3px];
  }

  .paragraph-3 {
    @apply text-[10px] tracking-[0.3px];
  }

  .button {
    @apply inline-flex items-center justify-center whitespace-nowrap rounded-md transition-colors hover:cursor-pointer disabled:pointer-events-none disabled:opacity-50;
  }
}

@layer utilities {
  .card-bg-gradient {
    background: linear-gradient(
        112.59deg,
        rgba(255, 255, 255, 0.05) 83.32%,
        rgba(255, 255, 255, 0.1) 94.31%
      ),
      linear-gradient(
        109.73deg,
        rgba(255, 255, 255, 0.1) 7.85%,
        rgba(255, 255, 255, 0.05) 19.46%
      );
  }

  .hello-card-bg-gradient {
    background: linear-gradient(
        18.48deg,
        rgba(255, 255, 255, 0.25) 2.76%,
        rgba(255, 255, 255, 0) 17.23%
      ),
      linear-gradient(
        200.6deg,
        rgba(255, 255, 255, 0.25) 4.13%,
        rgba(255, 255, 255, 0) 20.54%
      );
  }

  .hello-bg-gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1010px;
    height: 1010px;
    background: url('/images/hello-bg-gradient.png');
    background-size: cover;
  }
}

